<!DOCTYPE HTML>
<html>
<head>
    <title>스프링 부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>

    <link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- css는 헤더에, js는 footer에 놓은 이유는페이지 로딩속도를 높이기 위해서이다. HTML은 위에서부터 코드가 실행되므로 head가 다
    실행 되고 나서 body가 실행된다. 즉 head가 다 불러지지 않으면 사용자 쪽에선 백지화면만 노출되는데, js의 용량이 크면 클수록
    body 부분의 실행이 늦어지기 때문에 js는 body 하단에 두어 화면이 다 그려진 뒤에 호출하는 것이 좋다.
    반면 css는 화면을 그리는 역할이라 head 에서 불러오지 않으면 사용자가 깨진화면을 볼 수 있어서 head에서 불러오도록 한다.-->
</head>
</html>